.row {
  width: 98%;
  margin: auto;
}

.progressBar {
  margin: 15 5px;
}

.progressBarSection {
  align-content: center;
  align-items: center;
}

.setMargin {
  margin: 0 10px;
}

.comment {
  width: 100%;
}

.taskStatus {
  width: 100%;
}
