<div class="row">
  <div class="col col-md-10">
    <mat-card>
      <mat-card-title>
        Opis problemu
      </mat-card-title>
      <mat-card-content>
        {{taskDetails.description}}
      </mat-card-content>
      <hr>
      <h2>Lista rzeczy do wykonania:</h2>
      <div *ngFor="let subtask of taskDetails.subtasks; let i = index" [attr.data-index]="i">
        <mat-form-field appearance="outline">
          <mat-label>Czynność</mat-label>
          <input matInput value="{{subtask.name}}" readonly>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline">
          <mat-label>Planowana ilość roboczogodzin [h]</mat-label>
          <input matInput value="{{subtask.manHour}}" readonly>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedValue[i]"  (selectionChange)="statusChanged($event, i)">
            <mat-option [value]="status.value === selectedValue[i] ? selectedValue[i] : status.value" *ngFor="let status of this.Statuses">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <button mat-mini-fab color="warn" (click)="deleteSubtask(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <br/>
      </div>
      <h3>Nowe zadanie:</h3>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Czynność</mat-label>
          <input matInput [(ngModel)]="newSubtask.name" value="">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline">
          <mat-label>Planowana ilość rg [h]</mat-label>
          <input matInput [(ngModel)]="manHourValue" value="">
        </mat-form-field>
      </ng-container>
      <br/>
      <button mat-raised-button (click)="addNewSubtask()" color="primary">Dodaj</button>
    </mat-card>
    <br/>
    <ng-container>
      <mat-card>
        <mat-card-content>
          <mat-radio-group [(ngModel)]="radioButtonChoose">
            <label class="setMargin">
              Rodzaj komentarza:
            </label>
            <mat-radio-button class="setMargin" value="false">Komentarz wewnętrzny</mat-radio-button>
            <mat-radio-button class="setMargin" value="true">Odpowiedź do klienta</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="comment" appearance="outline">
            <mat-label>Komentarz</mat-label>
            <textarea matInput [(ngModel)]="this.newComment.content"></textarea>
          </mat-form-field>
          <button mat-raised-button (click)="postComment()" color="primary">Umieść</button>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <br/>
    <ng-container>
      <div *ngFor="let comment of commentList; let i = index" [attr.data-index]="i">
        <mat-card class="commentCard">
          <mat-card-subtitle>
            {{comment.userName}} - {{comment.dateOfCreation | date: 'medium'}}
        </mat-card-subtitle>
        <mat-card-content>
          <ng-container *ngIf="!editMode[i]">{{comment.content}}</ng-container>
          <ng-container *ngIf="editMode[i]">
            <mat-form-field appearance="outline">
              <input matInput type="text" [(ngModel)]="commentList[i].content">
            </mat-form-field>
          </ng-container>
          <br/>
          <button mat-button color='warn' (click)="deleteComment(i); editMode[i]==false">Usuń</button>
          <ng-container *ngIf="username == comment.userName && editMode[i]==false">
            <button mat-button color='warn' (click)="editMode[i]=true">Edytuj</button>
          </ng-container>
          <ng-container *ngIf="editMode[i]">
            <button mat-button color='warn' (click)="editMode[i]=false; saveComment(i)">Zapisz</button>
          </ng-container>
        </mat-card-content>
      </mat-card>
      &nbsp;
      </div>
    </ng-container>
  </div>
  <div class="col col-md-2">
    <ng-container>
      <mat-card>
        <section class='progressBarSection'>
          <mat-progress-bar class="progressBar" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>
          <br/>
        </section>
        <mat-card-subtitle>
          {{taskDetails.make}} {{taskDetails.model}}
        </mat-card-subtitle>
        <hr>
        <mat-card-content>
          VIN: {{taskDetails.vin}}<br/>
          Rocznik: {{taskDetails.productionYear}}<br/>
          Silnik: {{taskDetails.engineDescription}}<br/>
          Moc: {{taskDetails.power}} KM
          <hr>
          {{taskDetails.customer?.name}} {{taskDetails.customer?.surname}}<br/>
          Tel. {{taskDetails.customer?.phoneNumber}}
        </mat-card-content>
      </mat-card>
      <br/>
      <mat-form-field appearance='fill' class='taskStatus'>
        <mat-label>Status zadania</mat-label>
        <mat-select [(ngModel)]="selectedTaskStatus" (selectionChange)="TaskStatusChanged($event)">
          <mat-option [value]="status.value === selectedTaskStatus ? selectedTaskStatus : status.value" *ngFor="let status of this.TaskStatuses">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <br/>
    <ng-container>
      <mat-card>
        <mat-card-title>
          Koszyk
        </mat-card-title>
        <mat-card-content>
          Zawartość koszyka placeholder
        </mat-card-content>
      </mat-card>
    </ng-container>
    <br/>
    <ng-container>
      <mat-card>
        <p><button mat-raised-button (click)='createPdf()' color='primary'>Pobierz protokół</button></p>
        <p><button mat-raised-button (click)='editTask()' color='primary'>Edytuj zadanie</button></p>
      </mat-card>
    </ng-container>
  </div>
</div>
<div class='row'>
  <div class='col col-md-12'>
    <ng-container>
      <mat-card>
        Placeholder na zdjęcia
      </mat-card>
    </ng-container>
  </div> 
</div>