&nbsp;
<mat-form-field appearance="fill">
  <mat-label>Obecne hasło</mat-label>
  <input matInput [(ngModel)]="currentPass" type="text">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Nowe hasło</mat-label>
  <input matInput [(ngModel)]="newPass" type="text">
</mat-form-field>
<p>
Hasło powinno zawierać co najmniej jedną cyfrę, jeden znak specjalny, jedną mała i wielką literę. Całkowita długość hasła to minimum 6 znaków.
</p>
<button mat-raised-button (click)="changePassword()">Zmień</button>
