:host {
  display: block;
}

div {
  margin: auto;
}

.full-width {
  width: 100%;
}

button {
  margin-left: 10px;
}

.mat-icon {
  font-size: 100%;
}

table {
  width: 100%;
}

.marginFix {
  padding-left: 40px;
}
