<ng-container class="col-md-9 order-md-1 centerDiv">
  <mat-horizontal-stepper #stepper>
    <form id="registrationForm" autocomplete="off">
      <mat-step>
        <ng-template matStepLabel *ngIf="ticket.customer.name != undefined; else createTask">Zgłoszenie klienta</ng-template>
        <ng-template matStepLabel #createTask>Nowe zgłoszenie</ng-template>
        <div class="row">
          <div class="col col-sm-4 col-md-2">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>VIN</mat-label>
              <input type="text" [(ngModel)]="ticket.vin" matInput placeholder="ZAR93900009999999" [formControl]="vinControl" required>
              <mat-error *ngIf="vinControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-sm-4 col-md-2">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Marka</mat-label>
              <input type="text" [(ngModel)]="ticket.make" matInput placeholder="Alfa Romeo" [formControl]="makeControl" required>
              <mat-error *ngIf="makeControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-sm-4 col-md-2">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Model</mat-label>
              <input type="text" [(ngModel)]="ticket.model" matInput placeholder="159 SW" [formControl]="modelControl" required>
              <mat-error *ngIf="modelControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-sm-4 col-md-2">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Rocznik</mat-label>
              <input type="text" [(ngModel)]="ticket.productionYear" matInput placeholder="2011" [formControl]="yearControl" required>
              <mat-error *ngIf="yearControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-sm-4 col-md-2">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Silnik</mat-label>
              <input type="text" [(ngModel)]="ticket.engineDescription" matInput placeholder="2.0 JTDm" [formControl]="engineControl" required>
              <mat-error *ngIf="engineControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-sm-4 col-md-2">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Moc</mat-label>
              <input type="text" [(ngModel)]="ticket.power" matInput placeholder="170" [formControl]="powerControl" required>
              <mat-error *ngIf="powerControl.invalid">{{fieldFillErrorMsg}}</mat-error>
              <mat-icon matSuffix>KM</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <br/><hr><br/>
        <div class="row">
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Imię</mat-label>
              <input type="text" [(ngModel)]="ticket.customer.name" matInput placeholder="Jan" [formControl]="nameControl" required>
              <mat-error *ngIf="nameControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Nazwisko</mat-label>
              <input type="text" [(ngModel)]="ticket.customer.surname" matInput placeholder="Kowalski" [formControl]="surnameControl" required>
              <mat-error *ngIf="surnameControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Telefon kontaktowy</mat-label>
              <span matPrefix>+48 &nbsp;</span>
              <input type="tel" [(ngModel)]="ticket.customer.phoneNumber" matInput placeholder="602-700-700" [formControl]="phoneControl" required>
              <mat-error *ngIf="phoneControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-6">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>E-mail</mat-label>
              <input type="email" [(ngModel)]="ticket.customer.email" matInput placeholder="jan.kowalski@przyklad.pl" [formControl]="email">
              <mat-error *ngIf="email.invalid">{{emailErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <br/><hr><br/>
        <div class="row">
          <div class="col col-md-12">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Opis problemu</mat-label>
              <input type="text" [(ngModel)]="ticket.description" matInput placeholder="Auto hałasuje podczas jazdy po nierównościach" [formControl]="descriptionControl" required>
              <mat-error *ngIf="descriptionControl.invalid">{{fieldFillErrorMsg}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" matStepperNext>Dalej</button>
        <ng-container *ngIf="!componentData == undefined">
          <button mat-raised-button color="warn" (click)="abandoned()">Rezygnacja</button>
          <button mat-raised-button color="warn" (click)="delete()">Usuń</button>
          </ng-container>
        <button mat-flat-button color="basic" (click)="closeWindow()">Zamknij</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Usługi</ng-template>
        <div class="row">
          <form autocomplete="off">
            <mat-form-field appearance="standard">
              <mat-label>Nazwa usługi</mat-label>
              <input type="text" name="subtaskName" [(ngModel)]="sub.name" matInput>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="standard">
              <mat-label>Ilość roboczogodzin</mat-label>
              <input type="text" name="subtaskManHour" [(ngModel)]="sub.manHour" matInput>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" (click)="addSubtask()">Dodaj usługę</button>
          </form>
        </div>
        <br/>
        <ng-container class="full-width" *ngIf="kanbanTask.subtasks.length > 0; else noServices">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef> Lp. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nazwa usługi </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="manHour">
              <th mat-header-cell *matHeaderCellDef> Ilość rg </th>
              <td mat-cell *matCellDef="let element"> {{element.manHour}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

          </table>
          <br/>
          <div class="row">
            <div class="col buttonCenter">
              <button mat-raised-button type="submit" color="primary" (click)="deleteSelected()">Usuń zaznaczone</button>
            </div>
          </div>
          <br/>
        </ng-container>
        <ng-template #noServices>
          <p style="font-weight: bold;">Niezdefiniowano żadnego zadania</p>
        </ng-template>
        <button mat-raised-button color="primary" matStepperNext>Dalej</button>
        <ng-container *ngIf="!componentData == undefined">
        <button mat-raised-button color="warn" (click)="abandoned()">Rezygnacja</button>
        <button mat-raised-button color="warn" (click)="delete()">Usuń</button>
        </ng-container>
        <button mat-flat-button color="basic" (click)="closeWindow()">Zamknij</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Podsumowanie</ng-template>
        <div class="row">

          <div class="col col-md-2">
            <mat-form-field appearance="standard">
              <mat-label>Data przyjęcia pojazdu</mat-label>
              <input matInput [(ngModel)]="kanbanTask.dateOfCarDelivery" (dateChange)="dateHasBeenChanged(input)" name="calendarCollectonDay" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col col-md-2 marginFix">
            <mat-form-field appearance="standard">
              <mat-label>Data oddania pojazdu</mat-label>
              <input matInput [(ngModel)]="kanbanTask.dateOfPlannedRealization" name="calendarRealizationDay" [matDatepicker]="picker2" readonly #input>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col col-md-8">
            <!-- <mat-form-field class="full-width" appearance="standard">
              <mat-label>Nazwa zadania #doUsunieca</mat-label>
              <input type="text" [(ngModel)]="kanbanTask.name" name="kanbanName" matInput>
            </mat-form-field> -->
          </div>
        </div>
        <div>
          <h3>Suma roboczogodzin: {{manHourSum}}</h3>
          <h3>Potrzebna ilość dni roboczych: {{daysToAdd + 1}}</h3>
        </div>
        <button mat-raised-button (click)="send()" color="primary">Przyjmij</button>
        <ng-container *ngIf="!componentData == undefined">
          <button mat-raised-button color="warn" (click)="abandoned()">Rezygnacja</button>
          <button mat-raised-button color="warn" (click)="delete()">Usuń</button>
          </ng-container>
        <button mat-flat-button color="basic" (click)="closeWindow()">Zamknij</button>
      </mat-step>
    </form>
  </mat-horizontal-stepper>
</ng-container>

