<div class="col-md-8 order-md-1 centerDiv">
  <h4 class="mb-3">Sprawdź status naprawy</h4>
  <form class="needs-validation" novalidate>

    <div class="row">
      <div class="col mb-3">
        <input type="text" class="form-control" id="trackingVIN" placeholder="VIN" value="" required>
        <div class="invalid-feedback">
          Podanie numeru VIN pojazdu jest wymagane.
        </div>
      </div>
      <div class="col mb-3">
        <input type="text" class="form-control" id="trackingProtocolNumber" placeholder="Numer protokołu odbioru" value="" required>
        <div class="invalid-feedback">
          Podanie numeru protokołu odbioru jest wymagane.
        </div>
      </div>
    </div>
