<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="images[0]" class="d-block w-100" [alt]="hc.homeFirstLabel">
      <div class="carousel-caption d-none d-md-block">
        <h5 [innerText]="hc.homeFirstLabel"></h5>
        <p [innerText]="hc.homeFisrtDescription"></p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="images[1]" class="d-block w-100" [alt]="hc.homeSecondLabel">
      <div class="carousel-caption d-none d-md-block">
        <h5 [innerText]="hc.homeSecondLabel"></h5>
        <p [innerText]="hc.homeSecondDescription"></p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="images[2]" class="d-block w-100" [alt]="hc.homeThirdLabel">
      <div class="carousel-caption d-none d-md-block">
        <h5 [innerText]="hc.homeThirdLabel"></h5>
        <p [innerText]="hc.homeThirdDescription"></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row marginsDiv">
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="hc.homeFirstImg" [alt]="hc.homeFirstName" width="140" height="140">
    </div>
    <h2>{{hc.homeFirstName}}</h2>
    <p [innerHTML]="hc.homeFirstText"></p>
  </div>
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="hc.homeSecondImg" [alt]="hc.homeSecondName" width="140" height="140">
    </div>
    <h2>{{hc.homeSecondName}}</h2>
    <p [innerHTML]="hc.homeSecondText"></p>
  </div>
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="hc.homeThirdImg" [alt]="hc.homeThirdName" width="140" height="140">
    </div>
    <h2>{{hc.homeThirdName}}</h2>
    <p [innerHTML]="hc.homeThirdText"></p>
  </div>
</div>
