.centerDiv {
  text-align: center;
  position: relative;
  margin: auto;
  width: 62.5%;
}

.full-width {
  width: 100%;
}

.formMatCard {
  margin-top: 60px;
}

mat-card-header {
  text-align: left;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
::ng-deep .mat-checkbox-inner-container {
  margin-top: 3px !important;
}
