<div class="col-md-5 order-md-1 centerDiv">
  <h3 class="mb-3">Tutaj możesz sprawdzić status naprawy. W tym celu wypełnij poniższe informacje.</h3>
  <form class="trackingForm" (ngSubmit)="Submit()" autocomplete="off">
    <div class="row">
      <div class="col mb-3">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>VIN</mat-label>
          <input type="text" id="vinNumber" [(ngModel)]="vin" matInput [formControl]="vinFormControl" placeholder="ZAR93900009999999">
          <mat-error *ngIf="vinFormControl.hasError('requred')">
            <p [innerText]="vinErrorText"></p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col mb-3">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Numer protokołu odbioru</mat-label>
          <input type="text" id="protocolNumber" [(ngModel)]="protocolNumber" matInput [formControl]="protocolFormControl" matInput [placeholder]="protocolFormPlaceholder">
          <mat-error *ngIf="protocolFormControl.hasError('requred')">
            <p [innerText]="protocolErrorText"></p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col mb-3 subButton">
        <button mat-raised-button type="submit" color="primary">Sprawdź</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="trackingFilled == true">
  <mat-card class="tracking-info">
    <mat-card-header>
      <mat-card-title>{{protocolNumber}}</mat-card-title>
      <mat-card-subtitle>{{vin}}</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>Brak danych</p>
    </mat-card-content>
  </mat-card>
</div>



