<div class="col-md-6 order-md-1 centerDiv">
  <h3 class="mb-4">Tutaj możesz sprawdzić status naprawy. W tym celu wypełnij poniższe informacje.</h3>
  <form class="trackingForm" (ngSubmit)="Submit()" autocomplete="off">
    <div class="row">
      <div class="col mb-4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>VIN</mat-label>
          <input type="text" id="vinNumber" [(ngModel)]="vin" matInput [formControl]="vinFormControl" placeholder="ZAR93900009999999">
          <mat-error *ngIf="vinFormControl.hasError('requred')">
            <p [innerText]="vinErrorText"></p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col mb-4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Numer protokołu odbioru</mat-label>
          <input type="text" id="protocolNumber" [(ngModel)]="protocolNumber" matInput [formControl]="protocolFormControl" matInput [placeholder]="protocolFormPlaceholder">
          <mat-error *ngIf="protocolFormControl.hasError('requred')">
            <p [innerText]="protocolErrorText"></p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col mb-4 subButton">
        <button mat-raised-button type="submit" color="primary">Sprawdź</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="trackingFilled == true">
  <div class="taskStatusInfo">
    <ng-container *ngIf="taskDetails.status == 0">Oczekiwanie za klientem</ng-container>
    <ng-container *ngIf="taskDetails.status == 1">Przyjęto samochód</ng-container>
    <ng-container *ngIf="taskDetails.status == 2">W trakcie diagnostyki</ng-container>
    <ng-container *ngIf="taskDetails.status == 3">W trakice naprawy</ng-container>
    <ng-container *ngIf="taskDetails.status == 4">Oczekuje za dostawą części</ng-container>
    <ng-container *ngIf="taskDetails.status == 5">Do odbioru</ng-container>
    <ng-container *ngIf="taskDetails.status == 6">Pojazd odebrany przez klienta</ng-container>
    <br/><br/>
  </div>
  <mat-card class="tracking-info">
    <mat-card-header>
      <h1>
        Podgląd prac dla {{taskDetails.vin}} ({{taskDetails.protocolNumber}})
      </h1>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <h2>Zakres prac:</h2>
          <ng-container *ngFor="let subtask of taskDetails.subtasks; let i = index">
            {{i+1}}. {{subtask.name}} - {{subtask.manHour}} rg - 
            <ng-container *ngIf="subtask.status == 0">Oczekuje</ng-container>
            <ng-container *ngIf="subtask.status == 1">W trakcie</ng-container>
            <ng-container *ngIf="subtask.status == 2">Gotowe</ng-container>
            <br/>
          </ng-container>
          <hr>
          <h2>Komentarze:</h2>
          <ng-container *ngFor="let comment of taskDetails.comments">
            <mat-card>
              <mat-card-header>
                {{comment.dateOfCreation | date: 'dd-MM-YYYY, HH:mm'}}
              </mat-card-header>
              <mat-card-content>
                {{comment.content}} 
              </mat-card-content>
            </mat-card>
            <br/>
          </ng-container>
        </div>
        <div class="col">
          <ng-container>
            Koszt robocizny: {{totalManHourPrice}} zł<br/>
            Koszt części: {{totalBasketPrice}} zł<br/>
            <br/>
            <h2>Razem: {{totalBasketPrice + totalManHourPrice}} zł</h2>
          </ng-container>
          <hr>
          <h2>Zamówione części:</h2>
          <ng-container *ngFor="let item of taskDetails.basketItems; let i = index">
            {{i+1}}. {{item.itemName}} - {{item.amount}}
            <ng-container *ngIf="item.unitOfMeasure == 0">l</ng-container>
            <ng-container *ngIf="item.unitOfMeasure == 1">szt</ng-container>
            <ng-container *ngIf="item.unitOfMeasure == 2">kg</ng-container>
            , <i>{{item.price}} zł</i>
            <br/>
          </ng-container>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col imgDiv">
          <h2>Zdjęcia</h2>
          <ng-container *ngFor="let photo of taskDetails.photos">
            <img class='img' [src]="photo.url" [alt]="photo.name"><br/>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>