<mat-card class="ticket">
  <mat-card-header>
    <mat-card-title>
      Nowe zgłoszenia
    </mat-card-title>
      <p *ngIf="tickets.length != 0" style="text-align: right; width: 68%; font-weight: bold; font-size: 150%;">{{tickets.length}}</p>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <ng-container *ngIf="tickets.length != 0; else noTickets">
      <div *ngFor="let tick of tickets.slice(0, 5); let i = index" [attr.data-index]="i">
        <mat-card class="tick">
          <mat-card-header>
            <mat-card-title>
              {{tick.make}} {{tick.model}} - {{tick.engineDescription}}, {{tick.power}}KM, {{tick.productionYear}} r.
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <i>{{tick.description}}</i>
          </mat-card-content>
          <button mat-raised-button color="primary" (click)="showTicket(i)">Otwórz</button>
        </mat-card>
        <br/>
      </div>
    </ng-container>
    <button mat-raised-button (click)="showBlankTicket()">Dodaj zgłoszenie</button>
  </mat-card-content>
</mat-card>

<ng-template #noTickets>
  <p style="color:red; font-weight: bold;">Brak nowych zgłoszeń</p>
</ng-template>


