<!--KARUZELA?-->

<div class="row marginsDiv">
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="homeFirstImg" [alt]="homeFirstName" width="140" height="140">
    </div>
    <h2>{{homeFirstName}}</h2>
    <p [innerHTML]="homeFirstText"></p>
  </div>
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="homeSecondImg" [alt]="homeSecondName" width="140" height="140">
    </div>
    <h2>{{homeSecondName}}</h2>
    <p [innerHTML]="homeSecondText"></p>
  </div>
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="homeThirdImg" [alt]="homeThirdName" width="140" height="140">
    </div>
    <h2>{{homeThirdName}}</h2>
    <p [innerHTML]="homeThirdText"></p>
  </div>
</div>
