<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="images[0]" class="d-block w-100" [alt]="homeFirstLabel">
      <div class="carousel-caption d-none d-md-block">
        <h5 [innerText]="homeFirstLabel"></h5>
        <p [innerText]="homeFisrtDescription"></p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="images[1]" class="d-block w-100" [alt]="homeSecondLabel">
      <div class="carousel-caption d-none d-md-block">
        <h5 [innerText]="homeSecondLabel"></h5>
        <p [innerText]="homeSecondDescription"></p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="images[2]" class="d-block w-100" [alt]="homeThirdLabel">
      <div class="carousel-caption d-none d-md-block">
        <h5 [innerText]="homeThirdLabel"></h5>
        <p [innerText]="homeThirdDescription"></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row marginsDiv">
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="homeFirstImg" [alt]="homeFirstName" width="140" height="140">
    </div>
    <h2>{{homeFirstName}}</h2>
    <p [innerHTML]="homeFirstText"></p>
  </div>
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="homeSecondImg" [alt]="homeSecondName" width="140" height="140">
    </div>
    <h2>{{homeSecondName}}</h2>
    <p [innerHTML]="homeSecondText"></p>
  </div>
  <div class="col-lg-4">
    <div class="img-container">
      <img class="rounded-circle" [src]="homeThirdImg" [alt]="homeThirdName" width="140" height="140">
    </div>
    <h2>{{homeThirdName}}</h2>
    <p [innerHTML]="homeThirdText"></p>
  </div>
</div>
